@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-decoration: none;
}
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;

}

:root{
    --primary-color: #1f099e;
    --secondary-color: #FFFFFF;
    --accent1-color: #F6AE2D;
    --accent2-color: #410DBA;

    --heading-font: 'taviraj', serif;
    --paragraph-font: 'enriqueta' , serif;

    --nav-background-color: #410DBA;
    --nav-link-color: #86BBD8;
    --nav-hover-link-color: #F6AE2D;
    --nav-hover-background-color: #33658A;
}

div{
    display: block;
}

.hero{
    position: relative;
}

h1 {
    width: 400px;
    padding: 1px;
    position: absolute;
    right: 0;
    left: 0;
    top: 5px;
    background-color: rgba(50, 154, 223, 0.5);
    margin: auto;
    color: var(--accent1-color);
    text-align: center;
    
}
article img{
    float: right;
}

.hero article {
    width: 820px;
    padding: 1px;
    position: absolute;
    right: 0;
    left: 0;
    top: 80px;
    background-color: rgba(19, 89, 100, 0.7);
    margin: auto;
    color: var(--accent1-color);
    text-align: center;
}

.hero article img {
    width: 200px;
    float: right;
    padding: 13px;
   
}
.hero img {
    display: flex;
    width: 100%;
    height: auto;
}


body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
   
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
    margin: 1.5rem auto;
}

p {
    padding: 25px;
    text-align: center;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}